@font-face {
    font-family: 'Barlow Regular';
    src: url(/fonts/Barlow/Barlow-Regular.ttf);
}

@font-face {
    font-family: 'Barlow Light';
    src: url(/fonts/Barlow/Barlow-Light.ttf);
}

@font-face {
    font-family: 'Barlow Lighter';
    src: url(/fonts/Barlow/Barlow-ExtraLight.ttf);
}

@font-face {
    font-family: 'Barlow Bold';
    src: url(/fonts/Barlow/Barlow-Bold.ttf);
}